<footer class="footer">
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                    <p>
                    <a href="https://t.me/shakha0077" class="text-light">BACKEND BY Shaxa</a>
                    </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>