{% load i18n static %}

<header id="index">
    <div class="header-area ">
        <div class="header-top_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header_top_wrap d-flex justify-content-between align-items-center">
                            <div class="text_wrap">
                                <p><span>+880166 253 232</span> <span>info@domain.com</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header_wrap d-flex justify-content-between align-items-center">
                            <div class="header_left">
                                <div class="logo">
                                    <a href="{% url 'index' %}">
                                        <img src="{% static 'blog/img/logo.svg' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="header_right d-flex align-items-center">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{% url 'index' %}#index">{% translate 'Главная' %}</a></li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    {% translate 'Языки' %}
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    {% get_current_language as LANGUAGE_CODE %}
                                                    {% get_available_languages as LANGUAGES %}
                                                    {% get_language_info_list for LANGUAGES as languages %}

                                                    {% for lang in languages %}
                                                        <li>
                                                            <a class="dropdown-item" href="/{{ lang.code }}/">
                                                                {{ lang.name_local }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'index' %}#gallery">{% translate 'Галерея' %}</a></li>
                                            <li>
                                                <a href="{% url 'blog' %}">{% translate 'Новости' %}</a>
                                            </li>
                                            <li><a href="{% url 'index' %}#workers">{% translate 'Персонал' %}</a></li>
                                            <li>
                                                <a href="{% url 'index' %}#whereabout">{% translate 'Местоположение' %}</a>
                                            </li>



                                        </ul>
                                    </nav>
                                </div>

                                <div class="Appointment">
                                    <div class="book_btn d-none d-lg-block">
                                        <a href="{% url 'contact' %}">{% translate 'Оставить Заявку' %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

