{% load i18n %}


<section class="container p-t-3 mb-5" id="whereabout">
    <div class="row">
        <div class="d-flex justify-content-center col-lg-12">
            <h1 class="gallery-title">{% translate 'Местоположение' %}</h1>
        </div>
    </div>
</section>
    <div class="container d-block d-sm-block mb-5 pb-4">
        <div id="map" style="height: 480px; position: relative; overflow: hidden;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5994.821337674272!2d69.25345364107476!3d41.29992894681807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8ae3e16117eb%3A0xe38bf57767a5d5a9!2z0KjQutC-0LvQsCDihJY5MQ!5e0!3m2!1sru!2s!4v1689872593583!5m2!1sru!2s"
                    width="1100" height="450" style="border:0; width: 100%" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>