{% load static i18n %}

<div class="slider_area">
    <div class="slider_active owl-carousel">
        <!-- single_carouse -->
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text  d-flex justify-content-center">
                            <div class="customize">

                                <h3 class="d-flex justify-content-center">{% translate '91 Школа' %}</h3>
                                <div style="margin-left: 4px">
                                    <a href="{% url 'contact' %}"
                                       class="boxed-btn3 d-flex justify-content-center">{% translate 'Оставить Заявку' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ single_carouse -->
        <!-- single_carouse -->
        <div class="single_slider  d-flex align-items-center slider_bg_2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text d-flex justify-content-center">
                            <div class="customize">

                                    <h3 class="d-flex justify-content-center">{% translate '91 Школа' %}</h3>

                                    <a href="{% url 'contact' %}"
                                       class="boxed-btn3 d-flex justify-content-center">{% translate 'Оставить Заявку' %}</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ single_carouse -->
        <!-- single_carouse -->
        {#        <div class="single_slider  d-flex align-items-center slider_bg_3">#}
        {#            <div class="container">#}
        {#                <div class="row">#}
        {#                    <div class="col-xl-12">#}
        {#                        <div class="slider_text d-flex justify-content-center">#}
        {#                            <div class="customize">#}
        {#                                <h3>#}
        {#                                    91 Школа</h3>#}
        {#                                <a href="#" class="boxed-btn3">Оставить Заявку</a>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        <!--/ single_carouse -->
    </div>
</div>